<div class=" p-6 bg-white dark:bg-gray-800 shadow-lg rounded-lg">
  <h1 class="text-3xl font-bold text-gray-900 dark:text-white mb-6 border-b-2 pb-2">Lista de Posts</h1>
  <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <li *ngFor="let post of posts" class="p-4 bg-gray-100 dark:bg-gray-700 rounded-lg shadow-md">
      <h2 class="text-xl font-semibold text-gray-900 dark:text-white">{{ post.title }}</h2>
      <p class="text-gray-700 dark:text-gray-300 mt-2">{{ post.body }}</p>
    </li>
  </ul>
</div>